<div class="home-footer">
  <div class="container home-footer--inner clearfix">
   <p class="home-footer--title">焼肉店舗運営者の方へ</p>
    <div class="col-xs-12 col-md-6">
    <div class="home-footer--unit">
      <h4>なごやの焼肉情報サイト～ニクナビ～とは？</h4>
      <p>
      国民食のように愛されている焼肉店。
      しかし、焼肉は最終工程の調理する作業がお客様に投げられています。
      お客様にもっと美味しい“焼肉”を知っていただくために、
      筆者の生まれ故郷である“なごや”のさらに狭い地域から焼肉の情報をお届けするのがこのニクナビです。
      </p>
    </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="home-footer--unit">
      <h4>店舗掲載お考えの方へ</h4>
      <p>
      完全無料でみなさまの焼肉店をご紹介します！登録費ももちろん無料、追加費用もいただきません。
      必要に応じて入力のお手伝いや追加項目のご要望にもできる限りお答えします、もちろん費用は頂きません。
      新しくみなさまと一緒に作り上げていくサイトにしたいと思っています。こういった情報が載せたいなど、
      ご要望、ご意見を頂ければと思います。機能は随時更新していきます。
      </p>
      <p class="home-footer--registation">
      <%= link_to '店舗登録する', :new_shop_registration %>
      </p>
    </div>
    </div>
  </div>
</div>