    <div class="home-recommends--box home-recommends--box-left">
    <%= link_to recommend_url(:id => 6) do %>
      <div class="home-recommends--unit clearfix">
        <div class="home-recommends--unit-img home-recommends--unit-left">
          <%= image_tag 'recommend/sotomomo.jpg', :alt => '外モモ' %>
        </div>
        <div class="home-recommends--unit-text home-recommends--unit-right">
          <p class="home-recommends--unit-name">
            外モモ
          </p>
<% 
=begin 
%>        
          <p class="home-recommends--unit-point">
            ヘルシーな赤身牛のモモの部分。筋肉を使う部分なので、脂肪は少なく、赤身が多い。
          </p>
<% 
=end
%>        
        </div>
      </div>
      <% end %>
    </div>