    <div class="home-recommends--box home-recommends--box-left">
    <%= link_to recommend_url(:id => 12) do %>
      <div class="home-recommends--unit clearfix">
        <div class="home-recommends--unit-img home-recommends--unit-left">
          <%= image_tag 'recommend/zabuton_misuji_tomo.jpg', :alt => '友三角' %>
        </div>
        <div class="home-recommends--unit-text home-recommends--unit-right">
          <p class="home-recommends--unit-name">
            友三角 <small>正肉系～内もも～</small>
          </p>
<% 
=begin 
%>        
          <p class="home-recommends--unit-point">
            バランスの良さが大人気位置は脚の付け根の部分でシンタマと呼ばれる部分のさらに一部分である。柔らかさ、赤身、脂肪のバランスがちょうどよい。
          </p>
<% 
=end
%>        
        </div>
      </div>
      <% end %>
    </div>