    <div class="home-recommends--box home-recommends--box-left">
    <%= link_to recommend_url(:id => 7) do %>
      <div class="home-recommends--unit clearfix">
        <div class="home-recommends--unit-img home-recommends--unit-left">
          <%= image_tag 'recommend/sannkaku_kainomi.jpg', :alt => 'カイノミ' %>
        </div>
        <div class="home-recommends--unit-text home-recommends--unit-right">
          <p class="home-recommends--unit-name">
            カイノミ <small>正肉系～バラ～カルビ～</small>
          </p>
<% 
=begin
%>        
          <p class="home-recommends--unit-point">
            ヒレに近い部位バラ肉ではあるが、位置的にヒレに近く、その特質を持っている。一頭からとれる量が少なく希少部位とされる。
          </p>
<% 
=end
%>        
        </div>
      </div>
      <% end %>
    </div>