    <div class="home-recommends--box home-recommends--box-left">
    <%= link_to recommend_url(:id => 8) do %>
      <div class="home-recommends--unit clearfix">
        <div class="home-recommends--unit-img home-recommends--unit-left">
          <%= image_tag 'recommend/hire.jpg', :alt => 'ヒレ' %>
        </div>
        <div class="home-recommends--unit-text home-recommends--unit-right">
          <p class="home-recommends--unit-name">
            ヒレ <small>正肉系～ヒレ～</small>
          </p>
          <p class="home-recommends--unit-point">
            牛肉の女王サーロインが王様であるのに対し、ヒレは女王。脂が非常に少なく、しかし柔らかい肉質であるのが特徴。
          </p>
        </div>
      </div>
      <% end %>
    </div>