    <div class="home-recommends--box home-recommends--box-left">
    <%= link_to recommend_url(:id => 18) do %>
      <div class="home-recommends--unit clearfix">
        <div class="home-recommends--unit-img home-recommends--unit-left">
          <%= image_tag 'recommend/senmai.jpg', :alt => 'センマイ' %>
        </div>
        <div class="home-recommends--unit-text home-recommends--unit-right">
          <p class="home-recommends--unit-name">
            センマイ
          </p>
<% 
=begin 
%>        
          <p class="home-recommends--unit-point">
            焼いても生でも旨いセンマイはボイルされて、皮をはがして、白センマイとして提供されることが多い。コリコリの食感とたんぱくでヘルシーな部位。
          </p>
<% 
=end
%>     
        </div>
      </div>
      <% end %>
    </div>