    <div class="home-recommends--box home-recommends--box-left">
    <%= link_to recommend_url(:id => 7) do %>
      <div class="home-recommends--unit clearfix">
        <div class="home-recommends--unit-img home-recommends--unit-left">
          <%= image_tag 'recommend/mino.jpg', :alt => 'ミノ' %>
        </div>
        <div class="home-recommends--unit-text home-recommends--unit-right">
          <p class="home-recommends--unit-name">
            ミノ
          </p>
<% 
=begin 
%>        
          <p class="home-recommends--unit-point">
            ミノは、弾力があり、よく味噌だれを付けて提供されることが多い。イカと食感が似ていて、味に癖もない。通に好まれる部位。
          </p>
<% 
=end
%>        
        </div>
      </div>
      <% end %>
    </div>