    <div class="home-recommends--box home-recommends--box-left">
    <%= link_to recommend_url(:id => 16) do %>
      <div class="home-recommends--unit clearfix">
        <div class="home-recommends--unit-img home-recommends--unit-left">
          <%= image_tag 'recommend/harami_sagari.jpg', :alt => 'サガリ' %>
        </div>
        <div class="home-recommends--unit-text home-recommends--unit-right">
          <p class="home-recommends--unit-name">
            サガリ <small>内臓系～横隔膜～</small>
          </p>
          <p class="home-recommends--unit-point">
            サガリはハラミの兄弟分ハラミとつながっている部分で、味わいも非常に似ている。九州地方ではメジャーな部位である。
          </p>
        </div>
      </div>
      <% end %>
    </div>