    <div class="home-recommends--box home-recommends--box-left">
    <%= link_to recommend_url(:id => 9) do %>
      <div class="home-recommends--unit clearfix">
        <div class="home-recommends--unit-img home-recommends--unit-left">
          <%= image_tag 'recommend/syato.jpg', :alt => 'シャトーブリアン' %>
        </div>
        <div class="home-recommends--unit-text home-recommends--unit-right">
          <p class="home-recommends--unit-name">
            シャトーブリアン <small>正肉系～ヒレ～</small>
          </p>
          <p class="home-recommends--unit-point">
            幻の部位ヒレの中心部に位置し、一頭からわずかしか取れない超希少部位。ヒレの中でも、柔らかさは格別である。
          </p>
        </div>
      </div>
      <% end %>
    </div>