    <div class="home-recommends--box home-recommends--box-left">
    <%= link_to recommend_url(:id => 21) do %>
      <div class="home-recommends--unit clearfix">
        <div class="home-recommends--unit-img home-recommends--unit-left">
          <%= image_tag 'recommend/tecchan.jpg', :alt => 'てっちゃん' %>
        </div>
        <div class="home-recommends--unit-text home-recommends--unit-right">
          <p class="home-recommends--unit-name">
            てっちゃん
          </p>
<% 
=begin 
%>        
          <p class="home-recommends--unit-point">
            ホルモンの代表特に九州地方では、ホルモンはてっちゃんを差すものである。とんちゃんは豚の大腸で、てっちゃんと同じ部位である。
          </p>
<% 
=end
%>        
        </div>
      </div>
      <% end %>
    </div>