    <div class="home-recommends--box home-recommends--box-left">
    <%= link_to recommend_url(:id => 5) do %>
      <div class="home-recommends--unit clearfxx">
        <div class="home-recommends--unit-img home-recommends--unit-left">
          <%= image_tag 'recommend/harami_sagari.jpg', :alt => 'ハラミ' %>
        </div>
        <div class="home-recommends--unit-text home-recommends--unit-right">
          <p class="home-recommends--unit-name">
            ハラミ
          </p>
<% 
=begin 
%>          
          <p class="home-recommends--unit-point">
            焼肉の人気者あまり知られていないが内臓部位。脂もやわらかさもすべてが平均的で、バランスがよく、誰からも愛される部位。
          </p>
<% 
=end 
%>   
        </div>
      </div>
      <% end %>
    </div>