    <div class="home-recommends--box home-recommends--box-left">
    <%= link_to recommend_url(:id => 13) do %>
      <div class="home-recommends--unit clearfix">
        <div class="home-recommends--unit-img home-recommends--unit-left">
          <%= image_tag 'recommend/urute.jpg', :alt => 'ウルテ' %>
        </div>
        <div class="home-recommends--unit-text home-recommends--unit-right">
          <p class="home-recommends--unit-name">
            ウルテ <small>内臓系～軟骨～</small>
          </p>
<% 
=begin 
%>        
          <p class="home-recommends--unit-point">
            おつまみに最高な珍味ウルテは気管の軟骨部位。よく焼くことで、香ばしさが出て、コリコリとした食感を楽しめる。
          </p>
<% 
=end
%>        
        </div>
      </div>
      <% end %>
    </div>