    <div class="home-recommends--box home-recommends--box-left">
    <%= link_to recommend_url(:id => 1) do %>
      <div class="home-recommends--unit clearfix">
        <div class="home-recommends--unit-img home-recommends--unit-left">
          <%= image_tag 'recommend/karubi.jpg', :alt => 'カルビ' %>
        </div>
        <div class="home-recommends--unit-text home-recommends--unit-right">
          <p class="home-recommends--unit-name">
            カルビ
          </p>
<% 
=begin 
%>        
          <p class="home-recommends--unit-point">
            焼肉の王道はカルビ（写真は中落ちカルビ）バラというのは牛のおなかの部分。脂が多く乗っており、お肉の満足感を存分に味わえる。
          </p>
<% 
=end
%>        
        </div>
      </div>
      <% end %>
    </div>