    <div class="home-recommends--box home-recommends--box-left">
    <%= link_to recommend_url(:id => 10) do %>
      <div class="home-recommends--unit clearfix">
        <div class="home-recommends--unit-img home-recommends--unit-left">
          <%= image_tag 'recommend/ranpu.jpg', :alt => 'ランプ' %>
        </div>
        <div class="home-recommends--unit-text home-recommends--unit-right">
          <p class="home-recommends--unit-name">
            ランプ <small>正肉系～ランプ～</small>
          </p>
<% 
=begin 
%>        
          <p class="home-recommends--unit-point">
            肉らしい旨味と赤身モモに近い部位。くせがなく、脂もほどよく乗っていて、幅広い層に好まれる。
          </p>
<% 
=end
%>        
        </div>
      </div>
      <% end %>
    </div>