<% breadcrumb :agreement %>
<div claas="agreement-content">
<div claas="agreement-content--inner">

<h3 class="home-part--title">ニクナビ店舗会員規約</h3>

<p><strong>第1条（利用規約の適用）</strong></p>
<p>本利用規約（以下、「本規約」）はスリーウェイズ株式会社（以下、「当社」）が提携するなごやの焼肉情報サイト「ニクナビ」（以下、「当サイト」）を利用される店舗のお客様（以下、「ユーザー」）に対して適用するものとする。</p>

<p><strong>第2条（ユーザー登録）</strong></p>
<ul>
<li>１.ユーザーは本規約に同意した上で、店舗ページ編集を行うことができる。</li>
<li>２.当サイトの利用はインターネット接続を要する。そのために使用する機器・ソフトウェアの購入などの費用、通信費はすべてユーザーが負担するものとする。</li>
<li>３.当サイトを利用するユーザーは当社所定の方法により、登録事項を申告したうえでユーザー登録を行うものとする。登録を行ったユーザーに対して、当社はIDとパスワードを発行する。</li>
<li>４.登録事項に誤りや脱漏があることによって生じる損害や不都合に関しては、当社は一切責任を負わないものとする。</li>
<li>５.登録を行ったユーザーは登録事項に変更、および当社が求める場合には、当社所定の方法により、遅延なく当該事項を訂正補充などするものとする。</li>
<li>６.登録を行ったユーザーに対して発行されたID、パスワードは、貸与、譲渡など名目の如何を問わず、第三者に対して一切開示してはならないとし、故意、過失の有無を問わず、第三者に開示・漏洩があると当社が認めた場合には当サイトの利用を停止する場合がある。</li>
<li>７.ID、パスワードなどの使用、管理はユーザー自身が責任を負うものとし、当社はこれについて一切の責任を負わないこととする。ID、パスワードを用いて行われた行為については、すべてユーザー自身の行為によるものとみなす。</li>
<li>８.当サイトのユーザーとして店舗がその店舗名、屋号を用いて登録することは妨げない。</li>
<li>
９.次に掲げるものはユーザー登録をおこなってはならない
<ul>
<li>（１）すでに当サイトに登録している者</li>
<li>（２）当社からユーザー登録を拒否された、又は抹消されたことのあるもの</li>
<li>（３）反社会的勢力に所属、または該当するもの</li>
<li>（４）本規約に反する恐れがあると当社が判断するもの</li>
<li>（５）その他、当社がユーザーとして適当でないと判断した者</li>
</ul>
</li>
</ul>


<p><strong>第3条（禁止事項）</strong></p>
<ul>
<li>
ユーザーは次の行為を行ってはいけないとする
<ul>
<li>ユーザー登録にあたり、虚偽の事項を申告し、必要事項を申告しない行為</li>
<li>ユーザー登録にあたり、他人または架空人名義で登録を行う行為</li>
<li>ID、パスワードを公開する行為</li>
<li>当サイトで提供される情報を私的な利用以外の目的（営利の目的を含む）で利用する行為</li>
<li>当サイトの運営を妨害する行為</li>
<li>当社または第三者に対し、義務のないことを繰り返し要求する行為</li>
<li>有害なコンピュータープログラムを送信する行為</li>
<li>本規約または法令に違反、または違反する恐れのある行為</li>
</ul>
</li>
<li>
その他、当社が適切でないと判断する行為
</li>
<li>
当サイトにおいて下記の登録・投稿は禁止とする
<ul>
<li>当社又は第三者の名誉、プライバシー、その他の権利を侵害するもの</li>
<li>店舗へのクレームやトラブルに関するもの</li>
<li>法令諸規則に反するもの</li>
<li>犯罪行為や危険行為に結び付くもの、あるいはそれを助長するもの</li>
<li>公序良俗に反するもの</li>
<li>当サイトの趣旨と無関係のもの</li>
<li>有害なコンピュータープログラムなどを含むもの</li>
<li>店舗とは無関係の個人的な営利目的とした内容や宣伝行為になるもの</li>
<li>権利者の許可を得ていない画像を含むもの</li>
<li>その他当社が不適当と判断したもの</li>
<li>権利者の許可を得ていない画像を含むもの</li>
</ul>
</li>
</ul>

<p>当社は第1項、または前項のいずれかの行為に行ったものに対してはユーザー登録を拒否または抹消し、当サイトの利用を停止するなど、必要な措置を講じることができるとする。当社はこれらの措置により当該ユーザーまたは第三者に生じる損害や不利益については、すべて当該ユーザーが責任を負うものとし、当社は一切の責任を負わないものとする。</p>
<p>第2項の行為を行ったものに対しては、掲載などの一切の義務を負わず、事前に通知することなくこれを削除することができるものとする。</p>

<p><strong>第４条（著作権など）</strong></p>
<p>
当サイト上の全ての情報の利用に関する権利は当社に帰属するものとする。当サイトへの投稿などを行った場合には、当該ユーザーは、当該投稿などの内容にかかる国内外における複製、公衆送信、修正・変更、翻訳など一切の利用を当社に対して無償で許諾したとみなされるものとする。また、当社は第三者に対し、これらの利用を無償で再許諾することができるものとする。
ユーザーは、当サイトに投稿などする情報に関し、複製、公衆送信、修正・変更、翻訳など著作権法上の権利を有し、かつ、何人の肖像権、名誉権、プライバシー権、営業権などの権利を一切侵害していないことを保証したものとみなされるものとする。
当社はユーザーに対し、当サイト上の全ての私的利用を、本規約をもって予め無償で許諾する。当サイト内に掲載されている店舗地図（地図、写真、TEL、メールアドレス、URL、メニュー、商品一覧、紹介文、クーポンなど）はダウンロードあるいは印刷して利用することができる。
ユーザーは、当社および当社から権利を承継しまたは許諾された者に対して、著作権人格権を行使しないことに同意するものとする。
当社は当サイトに掲載されている情報の正確性、完全性および最新性を保証しない。当サイトに掲載される情報の正確性、信用性等についてはユーザー自身の責任で判断したうえでこれを利用するものとする。
当サイトに掲載される店舗を訪れるなどする際には、事前にユーザー自身が電話などにより住所、営業時間、定休日などを確認するものとする。
掲載されている店舗情報が正しくない場合には、本サイトの管理者（support@nikunabi.com ）までe-mailで連絡する方法を用いる。
当サイトに掲載される情報の投稿など、閲覧、利用などに関し生じうる損害やトラブルについて、当社は一切の責任を負わないものとする。
当社は当サイトに掲載された情報が消失した場合であっても、一切の責任を負わないものとする。
</p>

<p><strong>第5条（サイトの内容の変更、利用中断・中止など）</strong></p>
<p>当社は当サイトのサービス等の内容を、ユーザーに事前に予告なく変更することができるものとする。
当社は下記のいずれかに該当する場合には、予告なく当サイトのサービスなどの提供を中断あるいは中止することができるものとする。
システム等の保守または仕様の変更などに際し必要な場合
火災、天災、停電、事変等の非常事態が発生、またはそのおそれがあり、情報提供が困難になった場合
その他、当社が中断あるいは中止の必要があると判断した場合
当社は、当サイトの内容の変更および当サイトにおける情報提供の遅延・中断等に関して生じる一切の損害、不利益等について責任を負わないものとする。
</p>

<p><strong>第6条（個人情報）</strong></p>
<p>
ユーザーの個人情報については、別途定めるプライバシーポリシーに従い取り扱う
当社は、ユーザーが提供した情報、データ等を、個人を特定できない統計的な情報として利用および公開できるものとし、ユーザーはこれに異議を唱えないものとする
</p>

<p><strong>第7条（損害賠償）</strong></p>
<p>
ユーザーが本規約に違反する行為、または不正、違法行為によって、当社に損害を与えた場合には、当社は当該ユーザーに対してかかる損害の賠償を請求することができるものとする。
第8条（外部サービスの利用）
ユーザーはFacebook、Twitter、その他情報サイト等の第三者が運営するサービス（以下、「外部サービス」）の運営会社に登録されたユーザーに関する情報を当社が取得し、当サイトのサービスにおいて表示する場合があることを承諾するものとする。
外部サービスの利用については、ユーザーは外部サービス会社が規定する各規約の定めに従うものとする。
ユーザーは外部サービスのアカウントの登録・管理などを自己の責任において行うものとする。外部サービスを利用する場合、自己の責任において当該サービスを利用するものとし、当該サービスを利用したことにより生じた損害、一切の事項において当社は何らの責任を負わないものとする。
</p>

<p><strong>第９条（本規約の変更）</strong></p>
<p>本規約は、変更後の規約を当サイトに掲載する方法により、ユーザーに事前に予告することなく変更することができるものとする。</p>

<p><strong>第１０条（準拠法）</strong></P>
<p>本規約の準拠法は日本法とする。<p>

</div>
</div>