<p id="notice"><%= notice %></p>
<div class="">
  <div class="col-xs-12 col-md-3 ccol-sm-2">
  <button class="search-hidden-btn" type="button" class="hidden-bin">細かく検索する</button> 
  <div class="hidden-form" style="display: none">
  <%= render :partial => "search/search_form" %>
  </div>
  </div>

<div class="col-xs-12 col-md-9 ccol-sm-10">
    <h2 class="nikunabi_shop_list_title">検索店舗一覧<h2>
    <article class="new_top_list">
      <ul >
        <% @search_shop.each do |shop| %>
         <%= render :partial => "shops/shop_list", locals: { shop: shop } %>
        <% end %>
      </ul>
    </article>
  </div>
</div>
