// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "../variables/*";
@import "../mixins/*";

/** font

@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    src: url(https://themes.googleusercontent.com/static/fonts/kaushanscript/v1/qx1LSqts-NtiKcLw4N03IFhlQWQpSCpzb2Peu3I-Q34.woff) format('woff');
  }

**/


/** admin **/
.admin_blog_show {
    border: 2px solid #040404;
    padding: 5px;
    &-inner {
        border: 2px solid #898989;
        padding: 10px;
    }
}

/** static **/
.static_blog_show {
    border: 2px solid #040404;
    padding: 5px;
    margin: 0 auto 30px;
    &-inner {
        border: 2px solid #898989;
        padding: 10px;
    }
}

.blog_show {
    &-desc {
        display: block;
        text-align: center;
        font-size: 10px;
        letter-spacing: 2px;
        padding: 0 0 10px;
        border-bottom: 1px solid #898989;
        @include media-down('sm') {
            border-bottom: none;
            font-size: 0.8rem;
            padding: 0;
        }
    }
    &-toptitle {
        letter-spacing: 2px;
        font-weight: bold;
        font-size: 6rem;
        padding: 15px 0;
        margin: 0 auto;
        border-bottom: 2px solid #898989;
        position: relative;
        &::after {
            content: '';
            width: 100%;
            height: 2px;
            background-color: #040404;
            position: absolute;
            bottom: 3px;
            left: 0;
        }
        @include media-down('sm') {
            font-size: 1.8rem;
            text-align: center;
            border-bottom: 1px solid #898989;
            padding: 5px 0 10px;
        }
    }
    &-title {
        letter-spacing: 2px;
        font-weight: bold;
        font-size: 4rem;
        margin: 0 auto 10px;
        border-bottom: 3px double #898989;   
        @include media-down('sm') {
            font-size: 2rem;
        }
    }
    &-subtitle {
        margin: 0 auto 10px;
        font-size: 1.8rem;
        font-weight: bold;
        color: $nikunabi_main__color;
        letter-spacing: 2px;
        @include media-down('sm') {
            font-size: 1.6rem;
        }
    }
    &-created {
        text-align: right;
        font-size:80%;
        font-family:'Kaushan Script';
        @include media-down('sm') {
          font-size: 1.4rem;
      }
    }
    &-unit {
        width: 100%;
        margin: 0 auto 20px;
        &-left {
            @include media-down('sm') {
                padding: 0;
            }
        }
        &-right {
            @include media-down('sm') {
                padding: 0;
            }
        }
        &-content {
            line-height: 1.6;
            padding: 0;
            margin: 0;
            @include media-down('sm') {
                width: 100%;
            }
            p {
                line-height: 1.8;
            }
        }
        &-image {
            overflow: hidden;
            margin: 0 auto 10px;
            @include media-down('sm') {
                width: 100%;
            }
            img {
                vertical-align: bottom;
                width: 100%;
            }

        }
    }
}

.blogs-area {

}

.blogs-areas {
  @include media-up('md') {
    width: 50%;
    float: left;
    &:nth-child(odd) {
      padding: 0 10px 0 0;
    }
    &:nth-child(even) {
      padding: 0 0 0 10px;
    }
  }
  &-image {
    img {
      max-width: 100%;
      vertical-align: bottom; 
    }
  }
  &-title {
    font-weight: bold;
      @include media-down('sm') {
        font-size: 1.8rem;
    }
  }
  &-subtitle {
    font-weight: bold;
  }
  &-content {

  }
  &-time {
    font-weight: normal;
    font-size: 1.2rem;
    color: #949499;
  }
}

.read-more-text {
  text-decoration: underline;
  &:visited {
    color: #3c8dbc;
  }
}

.blog_show-other {
  margin: 0 auto 10px;
  &--maintitle {
    font-weight: bold;
    font-size: 2rem;
    padding: 15px 0;
    margin: 0 auto 15px;
    border-bottom: 2px solid #898989;
    position: relative;
    &::after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: #040404;
        position: absolute;
        bottom: 3px;
        left: 0;
    }
    @include media-down('sm') {
        font-size: 1.8rem;
        border-bottom: 1px solid #898989;
        padding: 5px 0 10px;
    }
  }
  &--inner {
    float: left;
    width: 50%;
    margin: 0 auto 10px;
    &:nth-child(odd) {
      padding: 0 0 0 10px;

    }
    &:nth-child(even) {
      padding: 0 10px 0 0;
    }
  }
  &--time {
    margin: 0 auto;
    padding: 0 0 3px;
    time {
      font-weight: normal;
      font-size: 1.2rem;
      color: #949499;
    }
  }
  &--image {
    img {
      max-width: 100%;
      vertical-align: bottom;
      margin: 0 auto;
    }
  }
  &--content {

  } 
  &--title {
    font-weight: bold;
    font-size: 1.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } 
  &--blogs {
    text-align: center;
    margin: 0 0 20px;;
  }
}

.show-Blog {
  &_Img {
    img {
      max-width: 100%;
      vertical-align: bottom;
    }
  }
  &_Title {  
    font-weight: bold;
    @include media-down() {
      font-size: 1.8rem;
    }
  }
  &_Content {
    font-size: 1.4rem;
    @include media-down() {
      font-size: 1.3rem;
    }
  }
  &_Time {
    color: #888;
    text-align: right;
  }
  &_TableContents {
    border: 1px solid #CCC;
    padding: 10px 15px;
    margin: 20px auto;
    p {
      font-size: 1.6rem;
      margin: 0 auto 10px;
      padding: 0 0 5px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: #efefef;
    }
    ul {
      padding: 0;
      margin: 0 auto;
      list-style-type: none;
    }
    &-item {
      position:relative;
      padding: 0em 0.3rem 0.3rem 1.5rem; 
      &:before {
        position:absolute;
        content:'';
        top: 0.3rem;
        left: 0.2rem;
        height:0;
        width:0;
        border-style: solid;
        border-width: 6px 0 6px 9px;
        border-color: transparent transparent transparent $nikunabi_main__color;
      }     
    }
  }
}

.show-Blog_Content {
  &-img {
    img {
      max-width: 100%;
      vertical-align: bottom;
    }
  }
  &-title {
    font-weight: bold;
    @include media-down() {
      font-size: 1.8rem;
    }
  }
  &-content {
    font-size: 1.4rem;
    @include media-down() {
      font-size: 1.3rem;
    }
  }
}