
// Place all the styles related to the details controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.shop-detail-menu {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  &:last-child {
    border-top: none;
  }
  &-left {
    float: left;
    width: 20%;
    max-width: 110px;
    padding: 0 10px 0 0;
    img {
      max-width: 100%;
      height: auto;
      vertical-align: bottom;
    }
  }
  &-right {
    width: 80%;
    max-width: 620px;
    float: left;
  }
}

.detail-shop-name-desc {
  margin: 0 0 5px;
  font-size: 1.2rem;
  color: #f15555;
  letter-spacing: 2px;
}

.detail-shop-name {
}

.detail-menu-name {
  font-size: 1.8rem;;
}

.detail-menu-price {
  font-size: 1.4rem;;
}
