<p id="notice"><%= notice %></p>

<p>
  <b>File:</b>
  <%= @blog_picture.images %>
</p>


<%= link_to 'Edit', edit_admins_blog_picture_path(@blog_picture) %> |
<%= link_to 'Back', admins_blog_pictures_path %>
