<p>ようこそ <%= @shop.name %>様</p>

<p>
  ニクナビへのご登録ありがとうございます。<br>
  現在仮登録の状態になっております、下記のリンクをクリックして本登録を完了させてください。
</p>

<p><%= link_to "アカウントにログイン", shop_confirmation_url(@resource, confirmation_token: @token) %></p>

<p>
-----------------------------------------------------------------
◆ 名古屋の焼肉専門の情報サイト - ニクナビ<br>
<%= link_to "http://nikunabi.com/", "http://nikunabi.com/" %>
-----------------------------------------------------------------
</p>

<p>
-----------------------------------------------------------------
◆ ニクナビサポートセンター<br>
<address>info@nikunabi.com</address>
-----------------------------------------------------------------
</p>

<p>
  〜本メールの無断転載・利用はご遠慮ください〜<br>
  この電子メールは宛先に指定されている受取人のみに送信されています。<br>
  特に注記が無くても、受取人以外の内容の閲覧、配布、または使用については固く禁じられております。
</p>
