<% content_for :page_h1 do %>
<h1>
  店舗アクセス情報編集
  <small>アクセス情報</small>
</h1>
<ol class="breadcrumb">
  <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
  <li class="active">Here</li>
</ol>
<% end %>


<div class="box box-primary">
  <div class="row">
    <div class="col-md-10">
      <div class="panel-body">
        <%= render 'form', address: @address %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Show', @address %> |
