/** red **/
$nikunabi_main__color: #fd7474;
$nikunabi_dark_main__color: darken($nikunabi_main__color, 25%);

$nikunabi_sub__color: #f15555;
$nikunabi_dark_sub__color: darken($nikunabi_sub__color, 25%);

$nikunabi_red__color: #C30D23;
$nikunabi_dark_red__color: darken($nikunabi_red__color, 25%);

$nikunabi_pink__color: #E4007F;
$nikunabi_dark_pink__color: darken($nikunabi_pink__color, 25%);