
// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mypages_shop_recommend-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    display: inline-block;
    padding: 3px 5px;
    margin: 0 5px 5px;
    background-color: #c4e3f3;
    border-radius: 3px;

  }
}

.registrations-new-nikunabi {
  margin-bottom: 5px !important;
  background-color: #fd7474 !important;
}

.registrations-new {
  .active {
    background-color: #C30D23;
  }
}

.mypage-regi-btn {
  margin: 0 auto 30px;
}

.mypage-shop-detail-img {
  img {
    max-width: 100%;
    max-height: 300px;
  }
}