
.nikunabi-side {
  margin: 0 auto 30px;
  h4  {
    font-size: 16px;
    text-align: center;
  }
  hr {
    color: #eeece4;
    margin: 10px 0;
  }
}

.side_news {
  border: 1px solid #eeece4;
  border-radius: 3px;
  padding: 20px;
}

.side_login {
  border: 1px solid #eeece4;
  border-radius: 3px;
  padding: 20px;

  &_about {
    text-align: center;
    font-size: 11px;
  }
}
