
// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  src: url(https://themes.googleusercontent.com/static/fonts/kaushanscript/v1/qx1LSqts-NtiKcLw4N03IFhlQWQpSCpzb2Peu3I-Q34.woff) format('woff');
}

.sta-Home_Header {
  background-color: #ff8585;
  color: #fff;
  // background: image-url("nikunabi_top.jpg") no-repeat center top;
  h2 {
    padding: 30px 0;
  }
}

.nikinabi_info_top {
  border-top:3px solid #ff8585;
  border-bottom:3px solid #ff8585;
  margin: 20px 0;
  p {
    margin: 0 auto;
    padding: 5px 10px;
    font-size: 14px;
  }
}

.new_top_list {
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    .new_top_list-item {
      margin: 0 auto 20px;
      border-top: 2px solid #eeece4;
      .nikunabi_new-open {
        &-left {
          float: left;
        }
        &-img {
          img {
            vertical-align: bottom;
            padding: 3px;
            border: 1px solid #ff8585;
          }
        }
        &-name {
          border-bottom: 1px solid #eeece4;
          margin: 0 auto 10px;
          p {
            padding: 5px 0;
            margin: 0 auto;
            .new-open-name {
              font-size: 20px;
              font-weight: bold;
              color: #ff8585;
              letter-spacing: 1px;
            }
            .new-open-strc {
              line-height: 20px;
              color: #949499;
              font-size: 14px;
            }
            .new-open-category {
              line-height: 20px;
              color: #949499;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

.nikunabi_new-ope-left-img {
  width: 22%;
}
.nikunabi_new-ope-left-detail {
    width: 78%;
}

.top-nikunabi_list_cate {
  li {
    margin: 0 auto 12px;
  }
}

.nikunabi_shop_tag {
  color: #fff;
  padding: 5px 0 0 ;
  &-recommend {
    li {
      font-size: 10px;
      margin: 0 auto 10px !important;
      display: inline-block;
      padding: 3px 5px;
      background-color: #ff8585;
      border-radius: 3px;
      border: 1px solid #f15555 !important;
    }
  }
  &-feature {
    li {
      font-size: 10px;
      margin: 0 auto 10px !important;
      display: inline-block;
      padding: 3px 5px;
      background-color: #ff8585;
      border-radius: 3px;
      border: 1px solid #f15555 !important;
    }
  }
}

.home-city-list {
  li {
    margin: 0 auto 10px;
    a {
      width: 100%;
      height: 100%;
      padding: 5px;
      display: inline-block;
      border: #f15555 1px solid;
      border-radius: 2px;
      color: #f15555;
    }
  }
}

/** Blog **/
.home-blog {
  margin: 30 auto 30px;
  position: relative;
  font-family:'Kaushan Script';
  &_padding {
    padding: 0 !important;
  }
  &_top {
    &--image {
      max-height: 300px;
      img {
        height: 100%;
        max-height: 300px;
        vertical-align: bottom;
      }
    }
    &-content {
      width: 100%;
      padding: 10px 10px 15px;
      background-color: rgba($color: #000000, $alpha: 0.7);
      position: absolute;
      bottom: 0;
      left: 0;
      color: #fff;
      &--time {
        margin: 0 auto 10px;
        padding: 0;
        text-align: right;
      }
      &--title {
        font-family:'Kaushan Script';
        font-weight: normal;
        font-size: 22px;
        margin: 0 auto 20px;
      }
      &--content {
        margin: 0;
        line-height: 1.6;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
    }
  }
}

.home-blog_0 {
  width: 30%;
  float: left;
  padding: 0 15px 0 0;
  position: relative;
  font-family:'Kaushan Script';
  &::after {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #eeeeee;
  }
  &-inner {
    position: relative;
  }
  &--image {
    img {
      max-height: 250px;
      height: 100%;
      vertical-align: bottom;
    }
  }
  &-content {
    width: 100%;
    padding: 10px 10px 15px;
    background-color: rgba($color: #000000, $alpha: 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    &--time {
      margin: 0 auto 10px;
      padding: 0;
      font-size: 8px;
      text-align: right;
    }
    &--title {
      font-weight: normal;
      font-size: 16px;
      font-family:'Kaushan Script';
      margin: 0 auto 20px;
    }
    &--content {
      margin: 0;
      font-size: 12px;
      line-height: 1.6;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.home-blog_1 {
  width: 70%;
  float: left;
  max-height: 125px;
  padding: 0 0 10px 15px;
  font-family:'Kaushan Script';
  &--image {
    width: 20%;
    float: left;
    max-height: 115px;
    img {
      max-height: 115px;
      height: 100%;
      vertical-align: bottom;
    }
  }
  &-content {
    width: 80%;
    float: left;
    padding: 0 0 0 10px;
    &--time {
      padding: 0;
      margin: 0 auto 10px;
      text-align: right;
      font-size: 8px;
    }
    &--title {
      padding: 0 0 15px;
      margin: 0 auto 15px;
      font-family:'Kaushan Script';
      font-size: 16px;
      position: relative;
      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        width: 30px;
        height: 1px;
        background-color: #949499;
      }
    }
    &--content {
      padding: 0;
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.home-blog_2 {
  width: 70%;
  float: left;
  max-height: 125px;
  padding: 10px 0 0 15px;
  &--image {
    img {

    }
  }
  &-content {
    width: 80%;
    float: left;
    padding: 0 0 0 10px;
    &--time {
      padding: 0;
      margin: 0 auto 10px;
      text-align: right;
      font-size: 8px;
    }
    &--title {
      padding: 0 0 15px;
      margin: 0 auto 15px;
      font-size: 16px;
      font-family:'Kaushan Script';
      position: relative;
      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        width: 30px;
        height: 1px;
        background-color: #949499;
      }
    }
    &--content {
      padding: 0;
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}