<footer class="footer">
  <div class="container-fluid sta-Home_Header">
    <div class="row">
      <h2 class="text-center h3">ニクナビを始めませんか？</h1>
      <p class="h4 text-center">
        お店のPRをお考えですか？ ニクナビなら無料でお店のPRができます。<%= link_to "店舗を無料登録する", new_shop_registration_path, :class => "nikunabi_btn nikunabi_btn-main" %>
      </p>
    </div>
  </div>
  <small>

  </small>
  <nav>

  </nav>
</footer>
