<header class="nikunabi_header">
  <span class="color-test main-color"></span><span class="color-test dark-main-color"></span>
  <span class="color-test sub-color"></span><span class="color-test dark-sub-color"></span>
  <span class="color-test red-color"></span><span class="color-test dark-red-color"></span>
  <span class="color-test pink-color"></span><span class="color-test dark-pink-color"></span>
  <div class="nikunabi_sub_nav container">
    <h1 class="h5 nikunabi_title">なごや焼肉情報サイト ~ ニクナビ ~</h1>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>sns</li>
        <li>sns</li>
        <li>sns</li>       
      </ul>
    </nav>
  </div>

  <nav class="navbar navbar-default <% if current_page?(root_path) %>mb-0<% end %>">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
           <%= link_to image_tag('nikunabi_logo.png', { :border => '0', :alt => 'logp'}), root_path, id: "logo", class: "nikunabi-logo" %>
				</div>
		
				<div class="navbar-collapse collapse" id="navbarEexample" aria-expanded="false" style="height: 1px;">
				
				</div>
			</div>
		</nav>

  <% if current_page?(root_path) %>
  <% end %>


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script>
    $('.dropdown-toggle').dropdown()
  </script>

</header>
